{% include base_path %}
<div class="list__item">
  <article class="timeline-item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="timeline-item__date">{{ post.date | date: "%b %Y" }}</div>
    <div class="timeline-item__body">
      <h2 class="archive__item-title" itemprop="headline"><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }} <span aria-hidden="true">↗</span></a></h2>
      {% if post.venue and post.show_event_line != false %}<p class="archive__item-excerpt">{{ post.type }}, {{ post.venue }}{% if post.location %}, {{ post.location }}{% endif %}</p>{% endif %}
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>{% endif %}
      {% if post.type %}<div class="tag-list"><span class="tag">{{ post.type }}</span></div>{% endif %}
    </div>
  </article>
</div>
